# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Virtual env
.venv/
venv/
.env
.env.*

# Test & tooling
.pytest_cache/
.coverage*
.mypy_cache/

# OS
.DS_Store

# Local
*.log
